**/node_modules/
**/dist/
**/logs/
**/.vscode/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.idea
.idea.*
.env
.env.*
.flaskenv*
!.env.project
!.env.vault
/fancy_csv_input - Copy.csv
