{
    "trailingComma": "es5",
    "printWidth": 120,
    "endOfLine": "crlf",
    "bracketSameLine": false,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": false,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "<BUILT_IN_MODULES>",
        "react",
        "<THIRD_PARTY_MODULES>",
        "",
        "MODELS(.*)$",
        "",
        "@/services(.*)$",
        "@/utils(.*)$",
        "",
        "@/components(.*)$",
        "@/forms(.*)$",
        "",
        "@/app(.*)$",
        "",
        "^[*./]"
    ],
    "importOrderParserPlugins": ["typescript", "tsx", "javascript", "jsx", "decorators-legacy"]
}
